<div class="box-container" ng-controller="soundCtrl">
	<div class="col-md-12">
		<div class="player-box one"  ng-click="playC()" accesskey="s"><p class="notes">C</p></div>
		<div class="player-box two" ng-click="playD()" accesskey="d"><p class="notes">D</p></div>
		<div class="player-box three" ng-click="playE()" accesskey="f"><p class="notes">E</p></div>
		<div class="player-box four" ng-click="playF()" accesskey="g"><p class="notes">F</p></div>
		<div class="player-box five" ng-click="playG()" accesskey="h"><p class="notes">G</p></div>
		<div class="player-box six" ng-click="playA()" accesskey="j"><p class="notes">A</p></div>
		<div class="player-box seven" ng-click="playB()" accesskey="k"><p class="notes">B</p></div>	
		<div class="player-box eight" ng-click="playHiC()" accesskey="l"><p class="notes">C</p></div>
	</div>
</div>
